<header>
	<h2><%= @album_or_category ? @album_or_category.name : "Products" %></h2>
</header>
<!--
	 Lightbox Gallery
	 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
-->
<div class="container small albums clearfix">

		<% i = 0 %>
		<% j = 0 %>
		<% photos.limit(9).each do |product| %>
			<% if i == 0 or i%3==0 %>
				<div class="row flush images">
					<% j = j + 1 %>
			<% end %>		
				<div class="4u custom4u">
					<% if product.photo.present? %>
						<a href="<%= product.photo_url_original %>" class="image full l" rel="prettyPhoto[gallery2]">
							<%= image_tag(product.photo_url_original, :title => product.name, :alt => "") %>
						</a>	
					<% else %>
						<a href="images/fulls/01.jpg" class="image full l" rel="prettyPhoto[gallery2]">
							<img src="images/thumbs/01.jpg" title="<%= product.name %>" alt="" />
						</a>	
					<% end %>
				</div>
			<% if i != 0 and (i+2)%4==0 %>
				<% j = 0 %>
				</div>
			<% end %>
			<% i = i + 1 %>	
		<% end %>	
		
</div>
	
	
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$(".albums:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: false});
	});
</script>
